{
  "hypnotoad": {
    "listen": [
      "http://example.com:3000"
    ],
    "proxy": 1,
    "max_message_size": 20737418240,
    "heartbeat_timeout": 1209600,
    "inactivity_timeout": 0,
    "graceful_timeout": 5
  },
  "mode": "production",
  "secret": "changeme",
  "ssl_ca_path": "/etc/ssl/certs",
  "auth": {
    "oauth": {
      "authorization_server": "example.com",
      "client_id": "my_app",
      "client_secret": "s3cr3t",
      "scope": "openid email profile"
      "redirect_uri": "http://example.com:3000/connect",
      "logout_redirect_uri": "http://example.com:3000",
      "jwk": { # get this from the /jwk endpoint
        "keys": [
          {
            "kty": "...",
            "e": "...",
            "kid": "...",
            "alg": "...",
            "n": "..."
          }
        ]
      }
    }
  }
}
